<% extend PairwisePlugin::Helpers::ViewerHelper %>

<%= pairwise_plugin_stylesheet  %>

<div id="pairwise_main">
<h2 class="vote_question"><%= link_to @question.name, @pairwise_content.view_url %></h2>

<% unless @embeded %>
  <p class='right'><%=  pairwise_result_link _('Results'), @pairwise_content, @embeded  %> |
	<%= pairwise_edit_link _('Edit Question'), @pairwise_content if @pairwise_content.allow_edit?(user)  %></p>
<% end %>
<p><%= @pairwise_content.body %></p>
	<div class="prompt"><%= choose_left_link(@pairwise_content, @question, @prompt, @embeded) %></div>
	<div class="prompt"><%= choose_right_link(@pairwise_content, @question, @prompt, @embeded) %></div>
	<div class="footer"></div>
</div>

